@charset "utf-8";

body{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
}

h1{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,133,187,1)), color-stop(100%,rgba(79,133,187,1)));
  text-align:center;
  border-radius:30px;
  padding-top:20px;
  font:100px arial;
  margin:20px auto;
  box-shadow:
}

ul{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
  text-align:center;
  margin-top:20px;
  padding:10px;
  margin:20px;
  border-radius:70px;
}
li{

  display:inline;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(22%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1)));
  font:30px arial;
  border-radius:20px;

}
li:hover{
  border-radius:10px;
  background-color:#00f;

}
div{
  background-color:#f40;
  width:200px;
  float:left;
  margin-top:80px;
  height:450px;
  border-radius:50px;
}
div p{
  text-align:center;
  font:30px arial;
  color:#521;
  box-shadow:#f00
}
